
/pipelined_5_stage/02_sim/obj_dir
/pipelined_5_stage/02_sim/test
pipelined_5_stage/02_sim/wave.fst
*.gtkw

pipelined_5_stage/02_sim/asm_output/out.o
pipelined_5_stage/02_sim/asm_output/output.asm
*.bak
/quartus/pipelined_two_bit/db
/quartus/pipelined_two_bit/incremental_db
/quartus/pipelined_two_bit/greybox_tmp

*.o
*.bin
*.dump
*.hex
*.mem

!quartus/pipelined_two_bit/01_imemdata/instruction_mem_padded.mem
!quartus/pipelined_two_bit/02_dmemdata/ram0.mem
!quartus/pipelined_two_bit/02_dmemdata/ram1.mem
!quartus/pipelined_two_bit/02_dmemdata/ram2.mem
!quartus/pipelined_two_bit/02_dmemdata/ram3.mem

!quartus/pipelined_agree_v2/01_imemdata/instruction_mem_padded.mem
!quartus/pipelined_agree_v2/02_dmemdata/ram0.mem
!quartus/pipelined_agree_v2/02_dmemdata/ram1.mem
!quartus/pipelined_agree_v2/02_dmemdata/ram2.mem
!quartus/pipelined_agree_v2/02_dmemdata/ram3.mem

*.elf
*.csv
/quartus/pipelined_agree_v2/db
*.hier
/quartus/pipelined_agree_v2/db
/quartus/pipelined_agree_v2/output_files
/quartus/pipelined_agree_v2/incremental_db
/quartus/pipelined_agree_v2/simulation
/quartus/pipelined_agree_v2/incremental_db
