
/pipelined_5_stage/02_sim/obj_dir
/pipelined_5_stage/02_sim/test
pipelined_5_stage/02_sim/wave.fst
*.gtkw

pipelined_5_stage/02_sim/asm_output/out.o
pipelined_5_stage/02_sim/asm_output/output.asm
*.bak
/quartus/pipelined_two_bit/db
/quartus/pipelined_two_bit/incremental_db
/quartus/pipelined_two_bit/greybox_tmp

*.o
*.bin
*.dump
*.hex
*.mem
*.elf
